<!-- Hero Section Start -->
<nav class="uk-navbar-container uk-visible@s" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav custom-font">
      <li class="uk-margin-auto-vertical">
        <img
          src="assets/images/DOC.png"
          width="80"
          height="80"
          alt="dog-paw-img"
        />
      </li>
      <!-- <li class="uk-active">
        <a class="font-websitename" href="#">Dog Of Coimbatore</a>
      </li> -->

      <!-- <li class="uk-margin-medium-left"><a href="#our-team" uk-scroll>Our Team</a></li>       -->
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-margin-large-right">
      <li class="">
        <a class="uk-text-capitalize" href="#doc" uk-scroll>About DoC</a>
      </li>
      <li class="">
        <a class="uk-text-capitalize" href="#our-focus" uk-scroll>Our Focus</a>
      </li>
      <li class="">
        <a class="uk-text-capitalize" href="#about-us" uk-scroll>Team</a>
      </li>
      <li class="uk-active">
        <a href="#donate" uk-scroll>
          <button
            class="uk-button uk-button-primary uk-text-capitalize uk-box-shadow-large"
          >
            Donate
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
<nav class="uk-navbar uk-navbar-container uk-margin-small uk-hidden@s">
  <div class="uk-navbar-left">
    <a href="#"
      ><img src="assets/images/DOC.png" alt="DOC_Logo" height="100" width="100"
    /></a>
  </div>
  <div class="uk-navbar-right">
    <a class="uk-navbar-toggle" uk-toggle="target: #mobile-navbar">
      <span uk-navbar-toggle-icon></span>
      <span class="uk-margin-small-left">Menu</span>
    </a>
  </div>
</nav>
<div id="mobile-navbar" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <div class="uk-margin-medium-top">
      <h3>Doc of Coimbatore</h3>
      <ul class="uk-list">
        <li class="uk-margin-medium-left">
          <a href="#doc" uk-scroll>— AboutDoC</a>
        </li>
        <li class="uk-margin-medium-left">
          <a href="#our-focus" uk-scroll>— Our Focus</a>
        </li>
        <li class="uk-margin-medium-left">
          <a href="#about-us" uk-scroll>— Team</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- New design -->

<div class="">
  <div class="uk-section uk-padding-remove">
    <div
      class="uk-position-relative uk-visible-toggle uk-light"
      tabindex="-1"
      uk-slideshow="min-height: 400; max-height: 800; finite: true; autoplay: true"
    >
      <ul class="uk-slideshow-items">
        <li>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="scale: 1.2,1.2,1"
          >
            <img src="assets/images/doc_1.jpeg" alt="" uk-cover />
          </div>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"
          ></div>
          <div class="uk-position-center uk-position-medium uk-text-center">
            <div uk-slideshow-parallax="scale: 1,1,0.8">
              <h1
                class="uk-text-bold uk-heading-large uk-text-emphasis"
                uk-slideshow-parallax="x: 200,0,0"
              >
                Dogs of Coimbatore
              </h1>
              <h6 class="uk-text-bold uk-margin-remove">An initiative by Vajra Foundation</h6>
              <h3 class="uk-text-bold uk-margin-small-top" uk-slideshow-parallax="x: 400,0,0;">
                A non-profit trust working for the welfare of street animals in
                Coimbatore.
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="scale: 1.2,1.2,1"
          >
            <img src="assets/images/doc_6.jpeg" alt="" uk-cover />
          </div>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"
          ></div>
          <div class="uk-position-center uk-position-medium uk-text-center">
            <div uk-slideshow-parallax="scale: 1,1,0.8">
              <h1
                class="uk-text-bold uk-heading-large"
                uk-slideshow-parallax="x: 200,0,0"
              >
                Anti-Rabies Vaccination
              </h1>
              <h3 class="uk-text-bold" uk-slideshow-parallax="x: 400,0,0;">
                Safeguarding both animals and people from rabies by making
                certain all dogs on the streets are vaccinated
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="scale: 1.2,1.2,1"
          >
            <img src="assets/images/doc_4.jpeg" alt="" uk-cover />
          </div>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"
          ></div>
          <div class="uk-position-center uk-position-medium uk-text-center">
            <div uk-slideshow-parallax="scale: 1,1,0.8">
              <h1
                class="uk-text-bold uk-heading-large"
                uk-slideshow-parallax="x: 200,0,0"
              >
                Animal Birth Control
              </h1>
              <h3 class="uk-text-bold" uk-slideshow-parallax="x: 400,0,0;">
                Ensuring the sustainable welfare of dogs through sterilization
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="scale: 1.2,1.2,1"
          >
            <img src="assets/images/doc_8.jpeg" alt="" uk-cover />
          </div>
          <div
            class="uk-position-cover"
            uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"
          ></div>
          <div class="uk-position-center uk-position-medium uk-text-center">
            <div uk-slideshow-parallax="scale: 1,1,0.8">
              <h1
                class="uk-text-bold uk-heading-large"
                uk-slideshow-parallax="x: 200,0,0"
              >
                Awareness
              </h1>
              <h3 class="uk-text-bold" uk-slideshow-parallax="x: 400,0,0;">
                Educating the public on various welfare measures to keep the
                dogs safe and healthy
              </h3>
            </div>
          </div>
        </li>
      </ul>

      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slideshow-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slideshow-item="next"
      ></a>
    </div>
  </div>
</div>
<!-- Old design -->
<!-- <div class="uk-section uk-section-default uk-section-large">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-grid-medium" uk-grid>
      <div class="">
        <h1
          class="uk-text-bold custom-hero-heading uk-animation-slide-left-small"
        >
          We walk dogs like it's ours.
        </h1>
        <p class="primary-font">
          Dog walking services are available 7 days a week. And <br />
          make sure your dog is in good hands.
        </p>
        <div class="uk-margin-medium-top">
          <button
            class="uk-button uk-button-primary uk-text-capitalize uk-box-shadow-large uk-text-bold"
          >
            Donate
          </button>
        </div>
        <div class="uk-margin-large-top">
          <a
            href=""
            class="uk-icon-button uk-margin-small-right"
            uk-icon="twitter"
          ></a>
          <a
            href=""
            class="uk-icon-button uk-margin-small-right"
            uk-icon="facebook"
          ></a>
          <a href="" class="uk-icon-button" uk-icon="instagram"></a>
        </div>
      </div>
      <div class="uk-text-right">
        <div class="">
          <img class="" src="assets/images/hero_image.svg" alt="hero-image" />
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Hero Section End  -->
<!-- Welcome card start -->
<div class="uk-section uk-section-large" id="doc">
  <div class="uk-container">
    <div class="">
      <h1 class="uk-text-bold">
        “The love for all living creatures is the most noble attribute of a man”
        - Charles Darwin.
      </h1>
      <p>
        Dogs of Coimbatore (DoC), was born from this very innate love. Our
        non-profit was founded with a singular vision - to protect and care for
        all the animals on the streets.
      </p>
      <p>
        There is a huge gap between the number of animals that need care and the
        number of organizations working for them in Coimbatore. We believe that
        taking care of them is not only the responsibility of the government but
        the onus lies on each one of us. We and the environment around us are a
        single unit, each depending on the other for their overall well-being.
        DoC is taking a small step in this direction.
      </p>
      <p>
        Our preliminary focus is primarily on anti-rabies vaccinations,
        sterilization and public awareness. But as we gather momentum and the
        resources, we will expand to other areas that need attention. We have
        started working for the dogs and will eventually extend our efforts to
        other animals on the street as well. DoC has brought together experts in
        the field to be our backbone and guide us in the right direction.
      </p>
      <p>We have big dreams, we hope you will be a part of the journey.</p>
    </div>
  </div>
</div>
<!-- Welcome card end -->
<!-- 3 Card Section Start -->
<div class="uk-section-muted" id="our-focus">
  <div class="uk-section uk-dark uk-background-cover">
    <div class="uk-container">
      <h1 class="uk-text-bold uk-heading-small uk-text-center">Our Focus</h1>

      <div
        class="uk-grid-match uk-child-width-1-3@m uk-margin-large-top"
        uk-grid
        uk-scrollspy="cls: uk-animation-slide-bottom-small; target: .uk-card; delay: 100; repeat: true"
      >
        <div>
          <div
            class="uk-card uk-card-default uk-card-body custom-card-border-section2 uk-padding-remove-bottom"
          >
            <img
              class="uk-align-center uk-margin-remove-bottom"
              src="assets/images/vaccine.png"
              alt="dog_img"
              width="80"
              height="80"
            />
            <h3 class="custom-card-heading uk-margin-small uk-text-center">
              Anti-Rabies Vaccination
            </h3>
            <p>
              Rabies is a terrible disease that is fatal to both animals and
              humans. Prevention is the only way to tackle this. DoC will ensure
              that every street dog in Coimbatore is vaccinated.
            </p>
            <div class="uk-text-center uk-margin-medium-top">
              <!-- <button
                class="uk-button uk-button-primary uk-text-capitalize uk-box-shadow-large uk-text-bold"
              >
                Know More
              </button> -->
            </div>
          </div>
        </div>
        <div>
          <div
            class="uk-card uk-card-default uk-card-body custom-card-border-section2 uk-padding-remove-bottom"
          >
            <img
              class="uk-align-center uk-margin-remove-bottom"
              src="assets/images/dog.png"
              alt="dog_img"
              width="80"
              height="80"
            />
            <h3 class="custom-card-heading uk-margin-small uk-text-center">
              Animal Birth Control
            </h3>
            <p>
              ABC is the only practical solution for controlling the dog
              population on the streets which in turn has numerous benefits such
              as eradicating rabies, preventing accidents and other causes of
              death, better health and well-being of dogs and more. DoC is
              backed by expert veterinarians to carry out the procedures and the
              after-surgery care of the dogs.
            </p>
            <div class="uk-text-center uk-margin-medium-top">
              <!-- <button
                class="uk-button uk-button-primary uk-text-capitalize uk-box-shadow-large uk-text-bold"
              >
                Know More
              </button> -->
            </div>
          </div>
        </div>
        <div>
          <div
            class="uk-card uk-card-default uk-card-body custom-card-border-section2 uk-padding-remove-bottom"
          >
            <img
              class="uk-align-center uk-margin-remove-bottom"
              src="assets/images/awareness.png"
              alt="dog_img"
              width="80"
              height="80"
            />
            <h3 class="custom-card-heading uk-margin-small uk-text-center">
              Awareness
            </h3>
            <p class="uk-margin-large-top">
              No change is possible without the joint effort of the public. DoC
              aims to create awareness on various topics related to the welfare
              of animals and to mobilize the support of the public, especially
              the youth to ensure the sustainability of these practices.
            </p>
            <div class="uk-text-center uk-margin-medium-top">
              <!-- <button
                class="uk-button uk-button-primary uk-text-capitalize uk-box-shadow-large uk-text-bold"
              >
                Know More
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 3 Card Section end -->
<!-- About us Section start -->
<div class="uk-section uk-section-default" id="about-us">
  <div class="uk-container">
    <h1 class="uk-text-bold uk-heading-small uk-text-center">About Us</h1>
    <div class="uk-margin-medium-top">
      <div class="uk-child-width-1-2@s" uk-grid>
        <div class="uk-margin-top">
          <img src="assets/images/kesica.jpg" alt="Kesica" />
        </div>
        <div>
          <div
            class="uk-card uk-card-body uk-border-rounded"
          >
            <h3 class="uk-text-emphasis">
              Kesica is the founder of Dogs of Coimbatore. Dogs have been a huge
              part of her life since childhood. Her love for them led her to
              volunteer with a few NGOs in Coimbatore working for animal
              welfare. A few rescue calls that didn’t go well had a massive
              impact on her and she became acutely aware of the enormity of the
              problems. After deliberating with many people working in this area
              and fellow animal lovers, she decided to bridge the existing gap
              in animal welfare through DoC. There is a need for 24-hour
              hospitals, mobile clinics, systematic ABC surgeries, vaccinations,
              well organised and timely rescue services, steps against animal
              cruelty and a lot of awareness. She envisions doing it all
              one-by-one and making Coimbatore a model city for exemplary animal
              welfare services. She has teamed up with people who share a
              similar vision to make this enormous dream a reality.
            </h3>
            <!-- <div class="uk-margin-top">
              <a
                href=""
                class="uk-icon-button uk-margin-small-right"
                uk-icon="twitter"
              ></a>
              <a
                href=""
                class="uk-icon-button uk-margin-small-right"
                uk-icon="facebook"
              ></a>
              <a href="" class="uk-icon-button" uk-icon="instagram"></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About us section end -->
<!-- Team section start -->
<!-- <div class="" id="our-team">
  <div class="uk-section uk-section-muted">
    <div class="uk-container">
      <h1 class="uk-text-bold uk-heading-small uk-text-center">Our Team</h1>
      <div class="uk-margin-medium-top">
        <div
          class="uk-child-width-1-3@s"
          uk-grid
          uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 200; repeat: true"
        >
          <div class="">
            <div>
              <div class="uk-card uk-card-default uk-border-rounded">
                <div class="uk-text-center">
                  <img
                    class="uk-border-circle uk-margin-top"
                    src="assets/images/avatar.jpg"
                    width="250"
                    height="250"
                    alt="member1"
                  />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Full Name</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt.
                  </p>
                  <div class="">
                    <a
                      href=""
                      class="uk-icon-button uk-margin-small-right"
                      uk-icon="twitter"
                    ></a>
                    <a
                      href=""
                      class="uk-icon-button uk-margin-small-right"
                      uk-icon="facebook"
                    ></a>
                    <a href="" class="uk-icon-button" uk-icon="instagram"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div>
              <div class="uk-card uk-card-default uk-border-rounded">
                <div class="uk-text-center">
                  <img
                    class="uk-border-circle uk-margin-top"
                    src="assets/images/avatar.jpg"
                    width="250"
                    height="250"
                    alt="member1"
                  />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Full Name</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt.
                  </p>
                  <div class="">
                    <a
                      href=""
                      class="uk-icon-button uk-margin-small-right"
                      uk-icon="twitter"
                    ></a>
                    <a
                      href=""
                      class="uk-icon-button uk-margin-small-right"
                      uk-icon="facebook"
                    ></a>
                    <a href="" class="uk-icon-button" uk-icon="instagram"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <div>
              <div class="uk-card uk-card-default uk-border-rounded">
                <div class="uk-text-center">
                  <img
                    class="uk-border-circle uk-margin-top"
                    src="assets/images/avatar.jpg"
                    width="250"
                    height="250"
                    alt="member1"
                  />
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Full Name</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt.
                  </p>
                  <div class="">
                    <a
                      href=""
                      class="uk-icon-button uk-margin-small-right"
                      uk-icon="twitter"
                    ></a>
                    <a
                      href=""
                      class="uk-icon-button uk-margin-small-right"
                      uk-icon="facebook"
                    ></a>
                    <a href="" class="uk-icon-button" uk-icon="instagram"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End of Team Section -->
<!-- Donate Page Start -->
<div class="uk-section uk-section-default uk-section-large" id="donate">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-grid-medium" uk-grid>
      <div class="">
        <h1 class="uk-text-bold uk-animation-slide-left-small">
          Your Donations Can Make a Huge Difference
        </h1>
        
        <p class="primary-font">
          Change is a combined effort. We have the right intentions, the people
          and the expertise. But we cannot carry out this mammoth mission all by
          ourselves. We are reaching out for your help to make a difference. We
          need funds as well as volunteers to take this idea to the next level.
          DoC will be transparent with all the donations and their usage and you
          will be informed throughout.
        </p>
        <p class="primary-font">
          We have come up with a few donation plans that you can choose from
          based on the core area that you would like to support.
        </p>
        <p class="primary-font">
          (Are we mentioning the plans?) need more details for this.
        </p>
        <div class="uk-margin-medium-top uk-text-left">
          <hr class="" />
          <h4>Account Details</h4>
          <p class="uk-text-muted uk-text-bold">
            Name:
            <span class="uk-text-emphasis">VAJRA SOCIAL WELFARE TRUST</span>
          </p>
          <p class="uk-text-muted uk-text-bold">
            Account Number: <span class="uk-text-emphasis">100166007414</span>
          </p>
          <p class="uk-text-muted uk-text-bold">
            IFSC Code: <span class="uk-text-emphasis">INDB0000174</span>
          </p>
        </div>
      </div>
      <div class="uk-text-right uk-margin-large-top">
        <div class="">
          <img class="" src="assets/images/hero_image.svg" alt="hero-image" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Donate page End -->
<div class="uk-section uk-section-muted uk-section-small">
  <div class="uk-container">
    <div class="uk-child-width-1-3@s" uk-grid>
      <div class="">
        <img src="assets/images/DOC.png" alt="logo" width="120" height="120" />    
        <div>
          <a class="certificate_link" href="/assets/images/DoC_80G.pdf" target="_blank">80(G) Certificate</a>
        </div>  
      </div>
      <div class="">
        <h3>Quick Links</h3>
        <ul class="uk-list">
          <li><a class="uk-text-emphasis" href="#doc">— About DoC</a></li>
          <li><a class="uk-text-emphasis" href="#our-focus">— Our Focus</a></li>
          <li><a class="uk-text-emphasis" href="#about-us">— Team</a></li>
          <!-- <li><a class="uk-text-emphasis" href="#our-team">— Our Team</a></li>           -->
        </ul>
      </div>
      <div class="">
        <h3>Contact Us</h3>
        <ul class="uk-list">
          <li><span uk-icon="mail"></span> dogsofcoimbatore@gmail.com</li>
          <li><span uk-icon="phone"></span> +91 9876543210</li>
        </ul>
        <h4>Social Media</h4>
        <div class="">
          <!-- <a
            href=""
            class="uk-icon-button uk-margin-small-right"
            uk-icon="twitter"
          ></a>
          <a
            href=""
            class="uk-icon-button uk-margin-small-right"
            uk-icon="facebook"
          ></a> -->
          <a
            href="https://www.instagram.com/dogsofcoimbatore/"
            target="_blank"
            class="uk-icon-button"
            uk-icon="instagram"
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
